<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaoCaoLuong2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BaoCaoLuong2017.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.254\BPOSERVER;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="BaoCaoLuong2017.Properties.Settings.BaoCaoLuong2017ConnectionString"
            connectionString="Data Source=10.10.10.254\BPOSERVER;Initial Catalog=BaoCaoLuong2017;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="BaoCaoLuong2017.Properties.Settings.BaoCaoLuong2017ConnectionString1"
            connectionString="Data Source=10.10.10.254\BPOSERVER;Initial Catalog=BaoCaoLuong2017;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BaoCaoLuong2017.Properties.Settings>
            <setting name="ZoomImage" serializeAs="String">
                <value>40</value>
            </setting>
        </BaoCaoLuong2017.Properties.Settings>
    </userSettings>
</configuration>